awscli==1.18.69
backcall==0.2.0
bcrypt==3.1.7
blinker==1.4
botocore==1.16.19
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==8.0.3
colorama==0.4.3
cryptography==35.0.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.4.3
decorator==5.1.0
distro==1.4.0
dnspython==1.16.0
docutils==0.17.1
entrypoints==0.3
fasteners==0.14.1
Flask==2.0.2
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
gunicorn==20.1.0
httplib2==0.20.2
idna==2.8
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jmespath==0.9.4
joblib==1.1.0
jupyter-client==7.0.3
jupyter-core==4.8.1
keyring==18.0.1
kiwisolver==1.3.2
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==1.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
Markups==3.1.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
monotonic==1.5
nest-asyncio==1.5.1
netifaces==0.10.4
notify2==0.3.1
numpy==1.21.2
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
packaging==20.3
pandas==1.3.4
paramiko==2.6.0
parso==0.8.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.20
protobuf==3.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyDrive==1.3.1
pyenchant==3.2.1
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
PySocks==1.7.1
python-apt==0.7.8
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-markdown-math==0.8
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
reportlab==3.6.2
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
ReText==7.2.1
roman==2.0.0
rsa==4.7.2
s3transfer==0.3.3
scikit-learn==1.0.1
scipy==1.7.2
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sklearn==0.0
SQLAlchemy==1.3.12
systemd-python==234
threadpoolctl==3.0.0
tornado==6.1
traitlets==5.1.0
tweepy==3.10.0
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.26.7
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.2.5
Werkzeug==2.0.2
xkit==0.0.0
